body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.login-container, .protected-content {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2, .protected-content h2 {
    margin-bottom: 10px;
    color: #333;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.video-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-card img {
    width: 100%;
    height: auto;
}

.video-details {
    padding: 10px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.video-channel, .video-date {
    font-size: 14px;
    color: #555;
    margin: 2px 0;
}

.search-bar {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    margin-right: 10px;
}

.search-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.search-controls button {
    width: calc(100% / 3 - 10px);
    margin-top: 10px;
}

@media (max-width: 600px) {
    .login-container, .protected-content {
        padding: 20px;
    }

    .video-card {
        margin: 5px;
        width: 100%;
        max-width: 100%;
    }

    .video-title {
        font-size: 16px;
    }

    .video-channel, .video-date {
        font-size: 12px;
    }

    input[type="password"], input[type="text"] {
        padding: 10px;
        margin: 10px 0;
        font-size: 14px;
    }

    button {
        padding: 10px;
        margin: 10px 0;
        font-size: 14px;
    }

    .search-controls {
        flex-direction: column;
        align-items: center;
    }

    .search-controls button {
        width: 100%;
        margin-top: 10px;
    }
}
